/Техническое задание.docx
/Марафон 2021.fig
/Критерии.docx
.idea/$CACHE_FILE$
.idea/.gitignore
.idea/1282227-zaverstayu-2.iml
.idea/misc.xml
.idea/modules.xml
.idea/php-test-framework.xml
.idea/php.xml
.idea/vcs.xml
.idea/watcherTasks.xml
