@font-face {
    font-family: "Montserrat";
    src: local("Montserrat Regular"), url("../../assets/fonts/Montserrat-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat Medium"), url("../../assets/fonts/Montserrat-Medium.ttf") format("ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: local("Playfair Display Regular"), url("../../assets/fonts/PlayfairDisplay-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: local("Playfair Display Italic"), url("../../assets/fonts/PlayfairDisplay-Italic.ttf") format("ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Playfair Display";
    src: local("Playfair Display Bold"), url("../../assets/fonts/PlayfairDisplay-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
}

:root {
    /* Main text, UI borders*/
    --text: rgb(174, 124, 120);
    /* Buttons */
    --button: rgb(216, 153, 153);
    /* Background*/
    --white: rgb(255, 255, 255);
    /* Catalog cards overlay. Trans pink 60%*/
    --overlay: rgba(174, 124, 120, 0.6);
    /* Contacts background */
    --contacts: rgb(247, 250, 252);
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;
}

/* Global */

/*
.page-body {
    background-color: var(--white);
    color: var(--text);
    font-family: Montserrat, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    box-shadow: 0 8px 24px -4px rgba(27, 46, 94, 0.12);
    max-width: 1440px;
    margin: 0 auto;
    line-height: normal;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Main blocks*/
/*
.main-header {
    margin-top: 26px;
    border-top: 1px solid var(--text);
    border-bottom: 1px solid var(--text);
    padding: 0 51px;
    position: relative;

}

.menu-list,
.menu-wrapper {
    display: flex;
    align-items: center;
}

.main-header .menu-item {
    margin: 24px 51px;
}

.main-header .menu-item:nth-child(3) {
    margin-right: 173px;
}

.main-footer .menu-item {
    margin: 0 34px;
}

.main-header .site-logo {
    margin: 13px;
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
}

section:not(.contacts) {
    padding: 0 120px;
}

.section-header {
    margin: 0;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.border-rounded {
    border-radius: 10px;
}

.top-banners .column:nth-child(2) {
    margin-top: 140px;
    margin-left: 23px;
}

.top-banners .column:nth-child(2) .banner-img {
    width: 386px;
    height: 404px;
}

.top-banners .column:nth-child(3) {
    margin-top: 82px;
    margin-left: 20px;
}

.top-banners .column:nth-child(3) .banner-img {
    width: 387px;
    height: 420px;
}

.top-banners .section-header {
    margin-top: 81px;
    font-family: "Playfair Display", "Times New Roman", serif ;
    font-size: 44px;
}